/* Write your styles */


body{
    background-color: #f8fdfd;
    color: black;
}

.section {
    text-align: center;
    font: 2rem "Microsoft Yahei";
    color: black;
    background-color: rgb(255, 255, 255);
}

.btn-inner{
    color: black;
    text-align: center;
    border: rgba(0,0,0,0.3) 2px solid;
    /*display: inline-block;*/
    font-size: 1.4rem;
    margin:2px;
    font-weight: bold;
    line-height: 2.2rem;
    padding:0.8rem 1.5rem;
}

.btn-inner:hover{
    animation: .8s btnhover forwards linear;

}

@keyframes btnhover {
    0%{
        color: #fff;
        border: rgba(0,0,0,0.3) 2px solid;
        background-color: transparent;
    }
    80%{
        border: rgba(119, 119, 119, 0.8) 2px solid;
        font-size: 1.47rem;
    }
    100%{
        border: rgba(0,0,0,1) 2px solid;
        background-color: rgba(225, 246, 247,1);
        color: black;
        font-size: 1.5rem;
    }

}

.btn-box{
    padding: 2px;
    background-color: transparent;
    display: inline-block;
    border:rgba(0, 0, 0,0.2) 2px solid;
    cursor: pointer;
    margin-left: 0px;
}

.btn-box:hover{

    animation: 1s btnborder ease forwards;
}
@keyframes btnborder {
    80%{
        border:rgba(0, 0, 0,0.8) 2px solid;
    }
    100%{
        border:rgba(0, 0, 0,0.8) 2px solid;
    }
}


.my-nav{
    z-index:11111;
    position: absolute;
    top:2rem;
    width: 100%;
    text-align: center;
    display: flex;
}

.my-nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    width: 90%;
    height: 5rem;
    line-height: 3rem;
    padding: 0;
}

.my-nav>ul>li{
    cursor: pointer;
    transition: .5s linear;
    box-sizing: border-box;
    height: 3rem;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.6);
}

.my-nav>ul>li:hover{
    color: #ffffff;
    border-bottom: rgb(255, 255, 255) 2px solid;
}

.my-nav>ul>li.active{
    color: rgb(255, 255, 255);
    border-bottom: rgb(255, 255, 255) 2px solid;
}


.two-boxes{
    height: 55vh;

}
.video-box{
    height: 55vh;
}


.bottom-options {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}

.long-words-box{

    width: 80%;
    margin: 0 auto;
    margin-top: 4vh;
    line-height: 2.2rem;
    border: 1px solid white;
    -webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;
    text-align: left;
    padding: 0 1rem;
}

#word2{
    width: 80%;
    margin: 0 auto;
    line-height: 2.2rem;
    /* border: 1px solid white; */
    -webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto
}



.covervid-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.side-title{
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.video-area{
    width:80%;
    margin: 20px auto;
    height: 60vh;

    border: 5px solid black;
}

#img-box{
    display: flex;
    align-items: center;
    text-align: center;
}

#img-box img{
    width: 80%;

}

#img-box>div{
    height: fit-content;

}

#know-btn{
    position: fixed;
    bottom:3rem;
    z-index: 111111;
    right: 629px;
    
}
#know-btn .btn-inner{
    color: #fff;
}

#camera{
    /*width: 100%;*/
    margin-top: 5vh;
    max-height: 40vh;
    max-width: 100%;

}




#try2{
    margin-top:10vh; 
}



#col-chart{
    height: 100%;
    width: 100%;
}

.v-box{
    height: inherit;
    width: 90%;
    margin: 0 auto;
    border: white;
    box-shadow: 3px 3px 10px 5px #e0e0e0;
}

.v-box .am-panel-hd{
    background-color: #f7d1d1;
    border: 0px;
}

.two-charts .video-box{
    height: 50vh;
}
.two-charts{
    height: 55vh;
}

.tc{
    
    overflow: scroll;
    font-size: 1.3rem;
}
.am-panel-bd{
    flex: 1;
}
.flex-box,.am-panel{
    display: flex;
    flex-direction: column;
}


.top-btn{
    font-size: 0.7rem;
    margin-bottom: 2rem;
    text-align: left;
    margin-left: 4%;
    margin-top: 14vh;
}


#player,#player1{
    max-width: 100%;
    max-height: 100%; 
}