/* 第二页介绍页补充css */
#word1{
    height: 200px;
    border: 1px solid white;
}
.change-speed{
    font-size: 16px;
}
#testVideo{
    max-width: 100%;
    max-height: 55vh;
    
}

/* 以下是第四页部分的css */
._buttons{
    text-align:left;
    margin-left: 5vw;

}
#initial-video{
    height: 50vh;
    width: 40vw;
}
#initial-video{
    float: left;
    margin-left: 5vw;
    height: 50vh;
    width: 40vw;
    display: none;
}

#processed-video{
    /* float: right;
    margin-right: 5vw;
    height: 50vh;
    width: 40vw; */
    width: 100%;
}
._nav{
    background-color: #89cff0;
}